<!-- Proxied secure connector -->

<Connector 
	port="8081" 
	URIEncoding="UTF-8" 
	address="127.0.0.1"
	maxThreads="75" 
	minSpareThreads="25" 
	maxSpareThreads="50"
	enableLookups="false" 
	redirectPort="443" 
	acceptCount="100"
	debug="0" 
	connectionTimeout="20000"
	disableUploadTimeout="true" 
	secure="true"
	proxyPort="443" 
	scheme="https"
/>
